{% extends 'base.html' %}

{% block head %}
<title>Home</title> 
{% endblock %}

{% block body %}
<h1>Home Page</h1>
<main role="main">
    <div class="jumbotron" style = "background-color: #F6d743;">
        <div class="col-sm-8 mx-auto">
        	<h1>Welcome</h1>
            	<p>Here, we are going to work upon the growing and making ourselves the most of our time. We all have a life and it is precious to each and every one of us. We are made for something. So keep hustling and moving forward. This dairy keeping commitemnt challenge is for those who really want to go forward with analysis and for the growth themselves. The most importnat part of it is to grow and be productive with proper time managment. Start with step towards your goal by giving your best.</p>
            	<p>EVERYONE IS UNIQUE AND KEEP GOING!!</p>
            	<p>
             		<a class="btn btn-success" href="/posts" role="button">I'm ready &raquo;</a>
            	</p>
        </div>
    </div>
</main>
{% endblock %}